
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 10px;
  background:rgb(247, 245, 245);
}

button {
  background-color: pink;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.container {
  padding: 16px;
}


