
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="edit.css">

</head>
<body>
<center> <h1>Edit</h1> </center>
<form class="signup" action="http://localhost:3000/user/edit" method="POST">

<div class="input">
  <label for="firstname"><b>First name</b></label>
  <input type="text" name="firstname" id="firstname">
</div>  

<div class="input">
  <label for="lastname"><b>Last name</b></label>
  <input type="text" name="lastname" id="lastname">
</div>

<div class="input">
  <label for="age"><b>Age</b></label>
  <input type="text" name="age" id="age">
</div>

<div class="input">
    <label for="country"><b>Country</b></label>
    <input type="text" name="country" id="country">
  </div>
  

<div class="input">
  <label for="aboutme"><b>About me</b></label>
  <input type="text" name="aboutme" id="aboutme">
</div>

<div>
<button type="edit" value="edit">Save</button>
</div>

<div class="button">
    <a href="profile.html"> <button type="button" class="btn btn-succes btn-sm" hr>
        Cancel
    </button>
    </a>

</div>
<div class="button">
  <a href="login.html"> <button type="button" class="btn btn-succes btn-sm" hr>
      Delete profile
  </button>
  </a>

</div>
</form>
</body>
</html>





     

     
  
     