input {
margin: auto;
padding: 10%;
}
  
  button {
    background-color: pink;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
  }
  
  