<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="profile.css">
<title></title>


</head>
<body>
<center> <h1>Profile</h1> </center>

<form action="edit" action="file:///Users/dilara/Desktop/Eksamensapp/views/profile.html" method="POST">

<div class="input">
    <label for="text">Full name: Anne Hansen</label>

</div>  

<div class="input">
    <label for="age">Age: 19</label>
</div>

<div class="input">
    <label for="country">Country: Denmark</label>
</div>

<div class="input">
    <label for="About me">About me: Like to play different sports</label>
</div>
<div class="button">
    <a href="edit.html"> <button type="button" class="btn btn-succes btn-sm" hr>
        Edit
    </button>
    </a>

</div>
<div class="button">
    <a href="login.html"> <button type="button" class="btn btn-succes btn-sm" hr>
        Logout
    </button>
    </a>

</div>

</form>

</body>
</html>