<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="edit.css">
<title></title>


</head>
<body>
<center> <h1>Edit</h1> </center>


<div class="input">
    <label for="text">Full name</label>
    <input type="full name" id="full name" name="full name"> 
</div>  

<div class="input">
    <label for="age">Age</label>
    <input type="age" id="age" name="age">
</div>

<div class="input">
    <label for="country">Country</label>
    <input type="country" id="country" name="country">
</div>

<div class="input">
    <label for="About me">About me</label>
    <input type="About me" id="About me" name="About me">
</div>


</body>
</html>