
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="signup.css">

</head>
<body>
<center> <h1>Signup</h1> </center>
<form class="signup" action="http://localhost:3000/user/signup" method="POST">

<div class="input">
  <label for="firstname"><b>First name</b></label>
  <input type="text" name="firstname" id="firstname">
</div>  

<div class="input">
  <label for="lastname"><b>Last name</b></label>
  <input type="text" name="lastname" id="lastname">
</div>

<div class="input">
  <label for="age"><b>Age</b></label>
  <input type="text" name="age" id="age">
</div>

<div class="input">
  <label for="email"><b>Email</b></label>
  <input type="text" name="email" id="email">
</div>

<div class="input">
  <label for="password"><b>Password</b></label>
  <input type="password" name="password" id="password">
</div>

<div>
<button type="signup" value="signup">Signup</button>
</div>

</form>
</body>
</html>





     

     
  
     
  
     